{% extends 'base.html.twig' %}

{% block title %}List of hotels{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.css"/>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Here's our best hotels !</h1>

		<table class="table table-hover" id="list">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Number of rooms</th>
					<th scope="col">Number of stars</th>
					<th scope="col">Address</th>
					<th scope="col">Postal code</th>
					<th scope="col">City</th>
					<th scope="col">Telephone</th>
					<th scope="col">Enabled</th>
					<th scope="col">Country</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-info">
					{% for hotel in hotels %}
						<td scope="col">{{ hotel.nom }}</td>
						<td scope="col">{{ hotel.nombreChambres }}</td>
						<td scope="col">{{ hotel.nombreEtoiles }}</td>
						<td scope="col">{{ hotel.adresse }}</td>
						<td scope="col">{{ hotel.codePostal }}</td>
						<td scope="col">{{ hotel.ville }}</td>
						<td scope="col">{{ hotel.telephone }}</td>
						{% if hotel.actif %}
							<td scope="col">Oui</td>
						{% else %}
							<td scope="col">Non</td>
						{% endif %}
						<td scope="col">{{ hotel.pays.getNom() }}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
{% endblock %}