{% extends 'base.html.twig' %}

{% block title %}Hotels{% endblock %}

{% block body %}
    <div class="container">
        <h2>Add a new hotel</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success pull-right">Save</button>
        <a href="{{ path('hotellist') }}" class="btn btn-warning">Cancel</a>
        {{ form_end(form) }}
    </div>
{% endblock %}