{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3">
					<h1>Log in now !</h1>
                    
                    {% if hasError %}
                        <div class="alert alert-danger">An error is occured, the username and/or the password is invalid.</div>
                    {% endif %}

					<form action="{{ path('account_login') }}" method="post">
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="text" name="_username" id="email" class="form-control" placeholder="Email address..."
                            required value="{{ username }}">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="_password" id="motDePasse" class="form-control" placeholder="Password..."
                            required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Sign in !</button>
							<a href="{{ path('account_register') }}" class="btn btn-info">Sign up !</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
