{% extends 'base.html.twig' %}

{% block title %}Editing the password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editing the password</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Save changes</button>
        
        {{ form_end(form) }}
    </div>
{% endblock %}