{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h2>Sign up into the website</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success pull-right">Sign up</button>
        {{ form_end(form) }}
    </div>
{% endblock %}