{% extends 'base.html.twig' %}

{% block title %}Welcome home!{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<!-- Wrapper for slides -->
				<div class="carousel-item">
					{% for image in carroussel %}
						{% if image.actif == 1 %}
							<div class="carousel-item active">
								<img src="{{ image.url }}" class="d-block w-100" alt="Images">
							</div>
						{% else %}
							<div class="carousel-item">
								<a href="#"><img src="{{ image.url }}" class="d-block w-100" alt="Images"></a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>


	<div class="jumbotron">
		<h1 class="display-3">Welcome to Starmania Hotels</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="text/javascript">
		$('.carousel').carousel({
			interval: 5000
		})
	</script>
{% endblock %}