<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ path('homepage') }}">Starmania Hotels</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" wfd-id="649">
		<span class="navbar-toggler-icon" wfd-id="457"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02" wfd-id="449">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('homepage') }}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="hotelsdropdownlink" aria-haspopup="true" aria-expanded="false">Hotels</a>
				<div class="dropdown-menu">
					<a href="{{ path('hotellist') }}" class="dropdown-item">Show hotels</a>
					<a href="{{ path('new_hotel') }}" class="dropdown-item">New Hotel</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Promotions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">My bookings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Administration</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if app.user %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">{{ app.user.getFullName() }}</a>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
						<a href="{{ path('account_profile') }}" class="dropdown-item">Edit my profile</a>
						<a href="{{ path('account_password') }}" class="dropdown-item">Edit my password</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path('account_logout') }}" class="dropdown-item">Sign out</a>
					</div>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('account_register') }}" class="nav-link">Sign up</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('account_login') }}" class="nav-link">Sign in</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>
					{{ message|raw }}
				</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}