<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/> {% block stylesheets %}{% endblock %}
	</head>

	<body>
		{% include "partials/header.html.twig" %}

		{% block body %}{% endblock %}

		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
		{% block javascripts %}{% endblock %}

		{% include "partials/footer.html.twig" %}
	</body>
</html>